@import url("./modules/nav.css");
@import url("./modules/banner.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
}

:root {
  --white: #fff;
  --black: #0f0f0f;
  --gray: #2c2c2c;
  --blue: #2e5eaa;
  --green: #04724d;
  --description-books: #a4a842;
  --description-eletronics: #496a9e;
  --description-domestics: #a07178;
}

img {
  display: block;
  max-width: 100%;
}
